<% if logged_in? %>
  <li><%= link_to "Log Out", sign_out_path, method: :delete %></li>  
  <li><%= link_to "Hello, #{current_user.name}!", current_user %> </li>
  <li><%= link_to "Atractions", attractions_path %></li>
<% else %>
  <li><%= link_to "Sign in", signin_path %></li> 
  <li><%= link_to "Sign up", new_user_path %></li> 
<% end %>  